.Add{
  background-color: rgb(18, 195, 195);
  height: 670px;
}

.box6{
  font-size: 25px ;
  color: back bold;
  padding: 12px;
  
}
.lb4{
  width: 1250px;
  height: 50px;
  margin-top: 22px;
  margin-right: 22px;
  justify-content: space-between;
}
#content1{
  width: 0px;
  height: 200px;
  background-color: white;
  border: 2px;
  color: white;
}
.bt{
  font-size: 25px;
  background-color: rgb(31, 192, 31);
 margin-left: 500px;
}