.delete-button {
      background-color: #11af16;
      color: rgb(255, 255, 255);
      border: none;
      /* padding: 12px 24px; */
      font-size: 30px;
      border-radius: 10px;
      cursor: pointer;
      margin-bottom: 30px;
      margin-left: 480px;
      margin-top: 200px;
      width: 300px;
     
    
    }

    .dropdown {
      width: 300px;
      height: 200px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      /* padding: 15px; */
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-left: 480px;
    /* margin-top: 5px; */
      
    }

    .dropdown a {
      display: block;
      padding: 10px;
      color: #3f32ea;
      text-decoration: none;
      font-size: 16px;
      border-radius: 5px;
    }

    .dropdown a:hover {
      background-color: #f0f0f0;
    }

    .dropdown a.edit {
      border: 3px solid red;
      padding: 8px;
      font-weight: bold;
      margin-top: 5px;
    }